@font-face {
    font-family:"HeadLineFont";
    src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2");
}





*{
    margin: 0;
    padding: 0;
    transition: 1000ms;
}


body{
    height: 300vh;
    width: 300vh;
    font-family: "Oswald", serif;;
}

h1{
    margin-left: 10%;

    font-size: 6vh;
    font-weight: 400;  
    font-style: normal;
    font-family: "HeadLineFont", serif;

    justify-content: center;
}

h2{

    font-size: 4vh;
    font-weight: 300;  
    font-style: normal;
    font-family: "HeadLineFont", serif;

    justify-content: center;
}


svg{
    position: relative;
    z-index: 200;
}


svg line{
    stroke: black;
    stroke-width: 3px;
}

/* Navigation Tools */


.NavigationBar{
    display: flex;
    position: fixed;
    z-index: 1000;
}


.Options{
    width: 4vw;
    height: 8vh;
    position: fixed;
    z-index: 1001;
}

.eventNav{
    width: 40vh;
    height: 100vh;
    position: fixed;
    z-index: 199;
    background-color: #bcbcbc;
    transition: 600ms;
    transform: translateX(-40vh);
    display: flex;
    flex-direction: column;
}

.Gruppe{
    color: black;
    height: 35%;
    width: 100%;
    margin-top: 10vh;
    margin-left: 20px;
    font-size: x-large;
}

.Quellen{
    margin-top: 42vh;
    margin-bottom: 0vh;
    justify-self: flex-end;
    font-size: large;
    width: 100%;
    height: 10%;
}


.Zoom-Buttons{

    position: fixed;
    z-index: 200;
    height: 25vh;
    width: 400px;
    display: flex;
    flex: row nowrap;
}


.Move-Buttons{
    height: 15vh;
    width: 200px;
    display: flex;
    float: right;
}

#Plus{
    width: 50px;
    height: 50px;
}


#Minus{
    width: 50px;
    height: 50px;
}

/* Arrows */


.arrow{
    width: 5vh;
    height: 5vh;
}



.arrow-left{
    transform: rotateZ(-90deg);
    order: 1;
    position: absolute;
}


.arrow-up{
    order: 2;
    position: absolute;
}


.arrow-down{
    transform: rotateZ(180deg);
    align-self: flex-end;
    order: 3;
    position: absolute;
}


.arrow-right{
    transform: rotateZ(90deg);
    order: 4;
    position: absolute;
}


/* Content */

.content{
    display: flex;
    text-align: center;
}


.contentSVG{
    position: absolute;
    z-index: 101;
    overflow: scroll; 
    height: 300%;
    width: 100%;
}


.info{
    width: 100%;
    position: fixed; 
    z-index: 10000;
    height: 7.5vh;
    background-color: #aaa;
    bottom: 0;
    transition: 600ms;
}

.Symbol{
    align-self: flex-end;
    width: 10%;
    height: 7.5vh;
    float: right;
    position: relative;
    z-index: 200;
}

.Symbol-img{
    margin-top: 10%;
    height: 70%;
    right: 0;
    float: right;
}

/*content Bereich*/

.Überschrift{
    height: 7.5vh;
    width: 100%;
    margin-bottom: 10vh;
}


/*Quellen Bereich*/

.FLEXparent{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
